.botoes img {
  width: 20px;
  height: 20px;
}

.botoes {
  display: flex;
  justify-content: center;
}

.botoes .botao1, .botao2 {
  display: flex;
  align-items: center;
  background-color: blue;
  padding: 20px;
  color: white;
  gap: .8rem;
  margin-left: 20px;
  text-decoration: none;
}
